fastapi
uvicorn[standard]

streamlit

sqlalchemy
asyncpg
psycopg2-binary
pgvector
alembic

pandas
numpy
openpyxl

langchain
langgraph
langchain-core
langchain-community
langchain-groq

groq

prophet

scikit-learn

sentence-transformers

python-dotenv

plotly
matplotlib
seaborn

reportlab

pydantic

python-multipart

tabulate